<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="forget.css">
</head>
<body>
    <div class="container">
        <h1>Forgot Password</h1>
        <form action="/resetpassword" method="post" onsubmit="savemail()">
            <label for="email">Enter your email address:</label>
            <input type="email" id="email" name="email" required>
            <button type="submit">Reset Password</button>
        </form>
    </div>
</body>
<script>
    function savemail()
    {
        let email= document.getElementById('email').value
        localStorage.setItem('email',email)
        console.log("email is ",email)
    }
</script>
</html>